/* 기본설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
a {
    text-decoration: none;
    color: #525252;
}

/* 폰트설정 */
@font-face {
    font-family: 'pretendard_regular';
    src: url(../font/pretendard_regular.otf);
    font-size: 1rem;
}

@font-face {
    font-family: 'pretendard_bold';
    src: url(../font/pretendard_bold.otf);
}

body, html {
    line-height: 1;
    font-family: 'pretendard_regular','Gill Sans',sans-serif ;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -.4px;
    font-size: 1rem
}
    body {
      margin: 0px;
      margin-left: 5%;
      margin-right: 5%;
      padding: 5px;
    }
    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      justify-content: flex-start; /* 왼쪽 정렬 */
      font-size: 25px;
      margin-top: -100px;
    }
    li {  
      display: flex;
      align-items: center;
    }
    h1{
      margin: 40px;
    }
    h3 {
      margin: 150px;
      text-align: center;
    }
    .button1, .button2, .button3, .button4 {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      margin-left: 1% 5%;
      text-decoration: none;
      background-color: white;
      color: #fff;
      font-size: 30px;
      border:none;  
      cursor: pointer;
    }
    hr{
      margin-left: -40px;
      margin-right: -40px;
    }
    a{
      display: flex;
      align-items: center;
      margin-left: 2%;
      padding: 10px;
      justify-content: space-between; /* 이미지와 텍스트 사이 공간 정렬 */
    }
    #next1 {
      width: 40px;
      height: 40px;
      margin-left: 1400px; /* 이미지와 텍스트 사이 여백 조절 */
    }
    #next2 {
      width: 40px;
      height: 40px;
      margin-left: 1528px; /* 이미지와 텍스트 사이 여백 조절 */
    }
    #next3 {
      width: 40px;
      height: 40px;
      margin-left: 1528px; /* 이미지와 텍스트 사이 여백 조절 */
    }
    #next4 {
      width: 40px;
      height: 40px;
      margin-left: 1512px; /* 이미지와 텍스트 사이 여백 조절 */
    }