  @font-face{
    font-family: "regularFont";
    src: url("../font/pretendard_regular.otf");
  }
  @font-face{
    font-family: "boldFont";
    src: url("../font/pretendard_bold.otf");
  }
  @media all and (max-width: 767px){

  }

  @media all and (max-width: 1024px){

    
  }
  @media all and (max-width: 1400px){

    
  }
  @media all and (min-width: 1400px){
    body{
        background-color: rgb(239, 250, 253);
        font-family: "regularFont",sans-serif;
        margin-top: 200px;
    }

    #title{
        display: flex;
        justify-content: center;
    }
    #title a{
        text-decoration: none;
        text-align: center;
    }

    #info{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    #id{
        width: 250px;
        height: 40px;
        border: 1px solid rgb(194, 194, 194);
        border-bottom: 0px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    #id::placeholder{
        color: rgb(192, 192, 192);
        padding-left: 10px;
        font-weight: bold;
        font-size: medium;
    }
    /* https://play.google.com/store/games?hl=ko */
    #password{
        width: 250px;
        height: 40px;
        border: 1px solid rgb(194, 194, 194);
        
        margin-bottom: 10px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    #password::placeholder{
        color: rgb(192, 192, 192);
        padding-left: 10px;
        font-weight: bold;
        font-size: medium;
    }
    #info #loginButton{
        display: flex;
        justify-content: center;
    }

    #loginButton button{
        width: 250px;
        height: 50px;
        border: 1px solid rgb(24, 182, 255);
        border-radius: 3px;
        background-color: white;
        font-weight: 1000;
        font-size: 20px;
        color: rgb(24, 182, 255);
    }

    .caption{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .caption a{
        color: rgb(129, 129, 129);
        text-decoration: none;
    }
    #option{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    #passInit{
        display: inline-block;
        background-color: aqua;
    }

    #signUp{
        display: inline-block;
        background-color: aqua;
    }
  }