.profilebox_share {
    width: 100%;
    max-width: 1240px;
    margin: 0.5rem auto 0 auto;
  
    display: grid;
  
    grid-template-columns: 1fr;
}

.profilebox_share img {
    width: 4rem;
    margin-right: 0.5rem;
}

#user_share {
    margin: 1rem 0;
}

#name_share {
    font-family: pretendard_bold; 
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

#date_share {
    font-size: 0.8rem; 
    color: #8E8E8E;
}

#title_share {
    font-family: pretendard_bold;
    font-size: 3rem;
    padding: 1rem 0;
}

#cont_share #text_share {
    font-size: 0.9rem;
    line-height: 1.4rem;
    margin: 1rem 0;
}


.container{
    display: flex !important;
    flex-direction: column !important;
    
}
.imagebox_share img{
    width: 100%;
    
    height: 30rem;
    box-sizing: border-box;
    
}

#user_share{
    display: flex;
}
.profilebox_share{
    width: 70%;
    box-sizing: border-box;
}


